 

  <div class="top-post swiper-slide d-flex justify-content-center">
    <div class="card">
        <figure class="mb-0">
            {{!-- <img src="{{data}}"> --}}
            {{!-- <img src="/images/a1.jpg"> --}}
            <img src="/images/ {{ data }}">
        </figure>

    <div class="card-body bg-light d-flex flex-column justify-content-center">

        <h3 class="card-title"><a href="{{content}}" target="_blank">{{title}}</a></h3>
        <p class="card-text">{{format_url content}}</p>
        <a href="/post/{{id}}">{{post.length}} {{format_plural "like" postes.length}}</a>
        {{vote_count}} 
        |
         <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    </div>
    </div>
  