
<article class="row top-post">
<div class="column">
<div class="card">
    <h3><a href="{{pix}}" target="_blank">{{title}}</a><span>({{pix}})</span></h3>
    <p><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></p>
</div>
</div>
</article>